

*{
    margin: 0;
    padding: 0;
}


/*Index.html*/ 
/*Seccion1*/
/*Se agrega Box Modeling*/

h1 {
    color:blue;
    font-size: 60px;
    text-decoration: underline;
    padding: 40px 60px 40px 0px;
    border: 2px solid black;
    text-align: center;
    }

h2 {
    color:red;
    margin-bottom: 30px;
    }

.cuadros{
        color: black; 
        font-family: 'Poppins', sans-serif;
        padding: 20px 10px 20px 0px;
        margin: 20px ;
        
     }
/* Hover*/

 .inicio:hover {
     background-color: darkblue;
     color: white;
     padding: 10px;
      }  
 
     
    /* Position*/

    .menu li {
        display: inline-block;
        width: 240px;
        position: relative;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    
       
     /*Seccion2*/

     .que-es-fibrofacil:active{
         background-color: black;
         color:white;
         padding: 10px;
     }

   .loco{
       color: black;
       font-size: 40px;
       
          } 
   
   .tiempo-de-entrega{
       text-decoration: underline;
       margin-top: 30px;
          }
   
    li{
        padding-left: 10px;
    }

   .envio-gratis{
       color:black;
       font-size: 2em;
       padding: 20px 30px 30px 10px;


   }

   .flash{
       color: black;
       font-family: 'Poppins', sans-serif;
       list-style-position: outside;
       font-size: 2em;
       border: 3px solid magenta;
       margin-top: 20px;
       margin-bottom: 20px;

   }

   /*Section 3*/
   /*Flexbox*/

   .section-container{
       display: flex;
       width: 900px;
       justify-content: center;
       
   }

   .empresa-section{
       justify-content: space-around;
       align-items: center;
   }

   
   /*Footer*/
   
   #footer ul li {
       color: black;
       font-size: 16px;
       font-style: oblique;

   }

   .empresa{
       list-style-position: inside;
       list-style-type: square;
       font-family: cursive;
       padding: 20px 10px 20px 0px;
    
   }

   .empresa li{
    display: inline-block;
    width: 210px;
    position: relative;
    font-size: 20px;
    
       
   }
   .seguinos{
       
       border: 3px solid black;
       background-color:lightskyblue;
       padding: 20px 0;
       margin: 20px 0;
   }

   
      

   
   .newsletter{
       margin: 20px 20px;
       
   }
    /*imagen de fondo*/

    .fondo {
        background-image: url('images/fondos-abstractos-verdes-azules.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }


    /*Artistica.html*/

    

    
    .fibro{
        color: darkblue;
        text-align: center;


    }

    @media  screen and (max-width: 450px) {
        .fibro{
            color: black;
        }
    }
    /*Seccion1*/

    .artistica{
        color: darkslateblue;
        font-family: 'Condiment', cursive;
        font-size: 60px;
        background-color: aqua;
        border-radius: 20px;
        margin-top: 80px;
             
               
    }

    .productos-en-acrilico{
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        font-style: italic;
        display: flex;
        justify-content: center;
        background-color:rgb(196, 200, 204);
        color: black;
        margin-top: 50px;
    }
    /*Seccion2*/


    /*flexbox*/

p {
    color: black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif ;
    padding: 10px 10px 10px 10px;

}
  /* Transform y transition*/

.foto1-artistica:hover{
    transform: scale(2) translateX(100px);
    transition: all 2s ease;
        

}

.foto2-artistica:hover{
    transform: scale(2);
    transition: all 1s ease;
}

.foto-container-artistica{
    display: flex;
        
}

.envio-gratis-container{
    display: flex;
    background-color: rgb(184, 216, 248);
    color: black;
    align-items: center;
    justify-content: space-around;
    font-family:cursive
}
.envio-gratis-despacho{
    display: flex;
    justify-content: start;
    list-style: none;
}
.envio-gratis-compras{
    display: flex;
    
    list-style: none; 
    flex-direction: column;  
    margin: 20px 0;
}


.tiempo{
    text-decoration: underline;
    font-size: 3em;
    font-style: italic;
    font-display: auto;
    margin-top: 30px
    
    
}

.tiempo{
    display: flex;
    justify-content: center;
             
}

@media screen and (min-width:451px)and (max-width:950px) {
    .tiempo {
        color: lightseagreen;
    }
}

.foto-flash{
    flex-wrap: wrap;
}
/*imagen de fondo footer*/

.fondo-artistica {
    background-image: url('images/StockSnap_BO2LNK630N.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}
/*Fibrofacil.html*/

.fibrod{
    font-size: 3em;
    text-align: center;
    color: darkblue;
    text-decoration: underline;
}


/*imagen de fondo footer*/
/* fondo-artistica*/

/*Productos.html*/

/*Seccion1*/

.productos{
    font-size: 3em;
    font-style: italic;
    text-decoration: underline;
    }

    .figuras{
        text-transform: uppercase;
        text-decoration: underline;
        font-family: cursive;
    }

    .foto-unicornio:hover{
        transition: all 2s ease;
        transform: scale(1) translateX(80px);
    }
    
    /*Seccion2*/

    .murales{
        font-size: 2em;
        font-style: italic;
        color: deeppink; 
        text-decoration-line: underline;
    
    }


    .foto2-container{
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 30px;

}
    /*Repeti clases en todos los html*/
    /* tiempo-de-entrega*/
    /* envio-gratis*/
    /* flash*/
    /* imagen de fondo fondo-artistica*/
    /*Utilice flexbox en el index.html y artisitica.html*/
    /*Utilice grid en el de producto.html*/
    /*Utilice media query en artistica.html*/
