/*Productos.html*/

* {
    margin: 0;
    padding: 0;
}

@import '../base/listas';
@import '../base/variables';
@import '../base/extends';

/*Seccion1*/

.h1-prod{
    color: rgb(86, 202, 164);
    text-align: center;
    font-size: 6em ;
}
.productos{
    font-size: 3em;
    font-style: italic;
    text-decoration: underline;
    color: rgb(75, 230, 178);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    }

    .figuras{
        text-transform: uppercase;
        text-decoration: underline;
        font-family: cursive;
    }

    .foto-unicornio{
         &:hover{
        transition: all 2s ease;
        transform: scale(1) translateX(80px);
        display: flex;
    }
}

    /*Seccion2*/

    .murales{
        font-size: 4em;
        font-style: italic;
        color: deeppink; 
        text-decoration-line: underline;
        text-align: center;

    
    }


    .foto2-container{
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 30px;
    display: flex;
    }

    .tiempo {
        text-decoration: underline;
        font-size: 3em;
        font-style: italic;
        font-display: auto;
        margin-top: 30px
    }
    
    .tiempo {
    
    
        @extend %flex;
    }
    
    @media screen and (min-width:451px)and (max-width:950px) {
        .tiempo {
            color: $color5;
        }
    }