
@import '../base/variables';
@import '../base/listas';



*{
    margin: 0;
    padding: 0;
}

.bg-menu{
    background-color: rgb(205, 154, 241);
}

.logo{
    width:150px;
    height: auto;
}

.hojas{
    width: 300px;
    height: auto;
}
#Inicio{

    h1{
        color: rgb(92, 212, 92);
        font-size: 60px;
        text-decoration: underline;
        padding: 40px 60px 40px 0px;
               text-align: center;
    }
            .cuadros{
            color: $color6; 
            font-family: nth($fonts, 2); 
            padding: 20px 10px 20px 0px;
            margin: 10px ;
            justify-content: center;
            display: flex;
            }
    
                h2{
                    color: $color2;
                    margin-bottom: 30px;
                    margin: 10px
                }
        
 
                
                
    
            }


            @media  screen and (min-width: 481px) and (max-width: 960px){
                .fondo{
                    background-color: $color4;
                }
                               
            }