

.section2{


.que-es-fibrofacil:active{
    background-color:$color6;
    color: $color7;
    padding: 10px;
}

.loco{
  color: $color6;
  font-size: 40px;
  
     } 

.tiempo-de-entrega{
  text-decoration: underline;
  margin-top: 30px;
     }

li{
   padding-left: 10px;
}

.envio-gratis{
  color: $color6;
  font-size: 2em;
  padding: 20px 30px 30px 10px;
}

}